#account-tabs {
  margin: 10px 0 20px;
}

.btn-upload-statement {
  margin-bottom: 20px;
}

th.txns-date-header {
  width: 7em;
}

th.txns-category-header {
  width: 10em;
}

#txns-filter-select {
  float: right
}
